/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* 一番うしろのbackground */
body{
    background: #aaaaaa;
    /* 幅固定っぽいので幅固定して中央揃え */
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

/* headerを中央揃えに */
/* headerが記事内にもあったのでclass名で指定に変更 */
header.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* タイトルを装飾 */
header.header{
    font-size: 5.0rem;
    text-shadow: 1px 1px 0 #e4f1ff;
}

/* 全体を囲んでるやつ中央に */
.container{
    /*width: 960px;*/
    margin: 0 auto;
}
/* ナビゲーション 適当にパクってきたやつ */
/* https://qiita.com/Y_ASAMOTO/items/90afe7d24467020c17f0 */
/* わからん  さっきと同じように要素名？class名でやってみる */
.global-nav{
    /* margin: 5px, 5px, 5px, 5p */
    /*overflow: hidden;   ちょっとわからんので無視 */ 
}
/* flexbox的にulに指定したほうがいいらしい */
.global-nav__items{
    display: flex;
    flex-flow: row;
	justify-content: space-around;
    margin: 0px;
    /*padding: 10px;*/
    list-style-type: none;
    /* 中央揃えしたいのになぜかここに書いても意味がない */
    margin-right: auto;
    margin-left: auto;

}
/* リンクっぽさをなくしたい */
.global-nav li a{
    text-decoration: none;
    display: block; /* これするとblock全体がボタンになる */
    /* 中央揃えしたいのになぜかここに書いても意味がない */
    margin-right: auto;
    margin-left: auto;

}
/* なんかうまく背景色が広がってくれない（文字だけにかかる）のでbox-sizingしてみる */
/* →意味なし */
/* 素直にwidth指定してみる  */
.global-nav__item{
    /*box-sizing: border-box;*/
    width: 192px; /* この計算が面倒だからやりたいくないんだけど */
    /* 中央揃え */
    /* →なぜか意味なし */
    margin-right: auto;
    margin-left: auto;
}

/* 背景色を交互に変える */
.global-nav li:nth-child(2n-1){
    background: linear-gradient(#d6d6d6, #c2c2c2);
}
.global-nav li:nth-child(2n){
    background: linear-gradient(#b7b7b7, #a2a2a2);
}

/* bread-crumbs ってのはパンくずリストとかいうやつらしい */
/* とりあえずコピペ  https://saruwakakun.com/html-css/basic/breadcrumb */
.bread-crumbs {
  padding-left:0;
  margin-left:0;
}

/* パンくずリスト */
.bread-crumbs ol{
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 6px;
}

.bread-crumbs li:after{/* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #555;
}

.bread-crumbs li:last-child:after{
  content: '';
}

.bread-crumbs li a {
    text-decoration: none;
    color: #3aecc6;/*色*/
}

.bread-crumbs li a:hover {
    text-decoration: underline;
}

/* top ad */
/* 今までと同じ容量で横に並べる */
/* というのはクソなのでflexboxにする */
.top-ads{
    background: #cccccc;
    widows: 100px;
}
.top-ads ul{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.top-ads li.top-ads__item{
    /*下の2つどっち使ってもimgがはみ出る*/
    /*width: calc(100% /3);*/
    /*width: 33.33%;*/
    box-pack: justify;  /* なんだっけコレ */
}
.top-ads li.top-ads__item img{
    /*width: 100px;*/
    /* なんか謎だけどこれやったら中央揃えでボックス内に収まるように並んだ */
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

/*  body  */
.body{
    display: flex;
}
.aside{
    background: #656665;
    /*width: 300px;*/
    order: 1;
    flex: 1;
}
.main{
    /*word-break: break-all;*/
    background: #dddddd;
    display: block;
    order: 2;
    flex: auto;
    /*width: auto;*/
}

/* mainの中の写真がおそらく原因 */
.main img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

/* local-nav */
/* スライダーってどうするんだ */
/* https://qiita.com/naru0504/items/ff0c77775223dc5a9148 */
/* スライダーで調べたらわりとどうでもいいテックな記事ばかりヒットするがスクロールだと正解らしい  */

nav.local-nav{
    display: block;
    position: relative;
}

.local-nav__items{
    overflow-y: scroll;
    height: 100px;  /* 適当 */
}

/* form */
/* tableかなと思ったらモダンなcssではformでtableをつかわないらしい */

.form{
    background: #ffffff;
}
