/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* 一番うしろのbackground */
body{
    background: #aaaaaa;
}

/* headerを中央揃えに */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* タイトルを装飾 */
header.header{
    font-size: 5.0rem;
    text-shadow: 1px 1px 0 #e4f1ff;
}

/* 全体を囲んでるやつ中央に */
.container{
    width: 960px;
    margin: 0 auto;
}

/* bread-crumbs ってのはパンくずリストとかいうやつらしい */
/* とりあえずコピペ  https://saruwakakun.com/html-css/basic/breadcrumb */
.bread-crumbs {
  padding-left:0;
  margin-left:0;
}

/* ナビゲーション 適当にパクってきたやつ */
/* https://qiita.com/Y_ASAMOTO/items/90afe7d24467020c17f0 */
/* わからん  さっきと同じように要素名？class名でやってみる */
.global-nav{
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 5px;
    /*overflow: hidden;   ちょっとわからんので無視 */ 
}
/* flexbox的にulに指定したほうがいいらしい */
.global-nav ul{
    display: flex;
    flex-flow: row;
	justify-content: space-around;
    margin: 0px;
    padding: 6px;
    list-style-type: none;
}
/* flexbox的にulに指定したほうがいいらしいので邪魔 */
/*
.global-nav li{
  display:inline;/*横に並ぶように
  list-style: none;
  font-weight: bold;/*太字
}
*/

/*
これもflexboxに
.bread-crumbs li{
  display:inline;/*横に並ぶように
  list-style: none;
  font-weight: bold;/*太字
}
*/
.bread-crumbs ol{
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 6px;
    /*list-style-type: none;*/
}

.bread-crumbs li:after{/* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #555;
}

.bread-crumbs li:last-child:after{
  content: '';
}

.bread-crumbs li a {
    text-decoration: none;
    color: #3aecc6;/*色*/
}

.bread-crumbs li a:hover {
    text-decoration: underline;
}

/* top ad */
/* 今までと同じ容量で横に並べる */
/* というのはクソなのでflexboxにする */
.top-ads{
    widows: 100px;
}
/*
flexboxにするので無視
.top-ads li{
  display:inline;/*横に並ぶように
  list-style: none;    
}
*/
.top-ads ul{
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 6px;    
}